<h1>Flight Tracking System</h1>
<div class="container" *ngIf="flights != null">
    <h2>Filter by departure</h2>
    From :
    <input type="datetime-local" class="form-control" id="name" [(ngModel)]="departureFrom"
        [ngModelOptions]="{standalone: true}" />
    To :
    <input type="datetime-local" class="form-control" id="name" [(ngModel)]="departureTo"
        [ngModelOptions]="{standalone: true}" />
    <button (click)="filterByDeparture()"> Filter</button>
    <br><br><br>
    <table class="table table-striped">
        <thead class="font-25">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Company</th>
                <th scope="col">Estimated departure</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="font-25">
            <tr *ngFor="let flight of flights">
                <td>{{ flight.id }}</td>
                <td>
                    <input type="text" class="form-control" id="name" [(ngModel)]="flight.company " required
                        [ngModelOptions]="{standalone: true}" />
                </td>
                <td>{{ flight.estimatedDeparture[0] }}.
                    {{ flight.estimatedDeparture[1] }}.
                    {{ flight.estimatedDeparture[2] }}. @
                    {{ flight.estimatedDeparture[3] }} :
                    {{ flight.estimatedDeparture[4] }}
                </td>
                <td>{{ flight.departure[0] }}.
                    {{ flight.departure[1] }}.
                    {{ flight.departure[2] }}. @
                    {{ flight.departure[3] }} :
                    {{ flight.departure[4] }}
                </td>
                <td>
                    {{ flight.arrival[0] }}.
                    {{ flight.arrival[1] }}.
                    {{ flight.arrival[2] }}. @
                    {{ flight.arrival[3] }} :
                    {{ flight.arrival[4] }}
                </td>
                <td>
                    <button (click)="deleteFlight(flight.id)">Delete </button>
                    <button (click)="updateFlight(flight.id, flight.company)"> Update </button>

                </td>
            </tr>
            <tr>
                <td>
                    #
                </td>
                <td>
                    <input type="text" class="form-control" id="name" [(ngModel)]="company" required
                        [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                    <input type="datetime-local" class="form-control" id="name" [(ngModel)]="estimatedDeparture"
                        required [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                    <input type="datetime-local" class="form-control" id="name" [(ngModel)]="departure" required
                        [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                    <input type="datetime-local" class="form-control" id="name" [(ngModel)]="arrival" required
                        [ngModelOptions]="{standalone: true}" />
                </td>
                <td>
                    <button (click)="createFlight()">Create</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>